@{
    ViewData["Title"] = "Home Page";
}
<div>
    <a asp-controller="Specs" asp-action="Index">View Spec</a>
</div>
<div>
    <a asp-controller="StrRozvs" asp-action="Index">View StrRozv</a>
</div>
